
<div class="jumbotron-noview" [ngStyle]="{'background-color': myColor}">
   <div class="jumbotron-text">
     <h1 class="hidden-sm-down">Kyle Creamer</h1>
     <h2 class="hidden-md-up" style="font-size:50px; margin-top:-17%;">Kyle Creamer</h2>
     <p>Full-Stack Developer in Charlottetown, PE.</p>
   </div>
   <div class="jumbotron-social">
     <div class="container">
         <div class="row">
           <div class="col-12">
           <ul class="ul-social text-center">
             <li class="li-social-links">
               <a class="social" href="https://github.com/kylecreamer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
             </li>
             <li class="li-social-links">
               <a class="social" href="https://www.linkedin.com/in/kyle-creamer-95266111a/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
             </li>
             <li class="li-social-links">
               <a class="social" href="mailto:kyle.creamer@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
             </li>
             <li class="li-social-links">
               <a class="social" href="https://www.facebook.com/kyle.creamer" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
         <div class="jumbotron-text" style="margin-top:-4%;">
           <div class="container" style="margin-bottom:3%;">
           <div class="row">
             <h4 class="col-12">Recent graduate of Holland College's Computer Information Systems Program.</h4>
          </div>
           <div class="row">
              <h4 class="col-12">Aspiring developer.</h4>
          </div>
          <div class="row">
            <h4 class="col-12">Experienced with system administration and operations in Linux and Windows environments.</h4>
         </div>
         </div>
      </div>
    </div>
