  <div style="margin-top:-5%;" class="jumbotron-noview" [ngStyle]="{'background-color': myColor}">
   <div class="jumbotron-text">
     <h1 class="hidden-sm-down">Experience</h1>
     <h2 class="hidden-md-up" style="font-size:50px; margin-top:-17%;">Experience</h2>
     <div class="container">
      <div *ngFor="let item of experience;">
        <div class="job">
            <div class="container">
                <div class="row">
                  <div class="col-xs-10 offset-xs-1">
                  <h2 style="margin-top:1%;" class="col-xs-12">{{item.title}}</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 offset-xs-1">
                    <h3>{{item.company}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 offset-xs-1">
                    <h4>{{item.date}}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 offset-xs-1">
                    <p style="font-size:20px; text-align:left; margin-bottom:2%;">{{item.body}}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
