@mixin max-width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

.container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
.item {
    background-color: tomato;
    box-sizing: border-box;
    padding:20px;
    margin-left:45px;
    margin-top:45px;
    flex: 1;
}

.item-mobile {
    background-color: tomato;
    box-sizing: border-box;
    padding:10px;
    margin-left:15px;
    margin-top:15px;
    flex: 1;
}

@include max-width(992px) {
    .item {
        flex-basis: 25%;
        background-color: red;
    }
}

@include max-width(640px) {
    .item {
        flex-basis: 50%;
        background-color: green;
    }
}

/*JUMBOTRON*/
.jumbotron {
  margin-bottom: 0; /*no bottom margin*/
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
  padding-right:3%;
}

.social {
  font-size: 2em;
  color: white;
  padding-right: 35px;
  margin-right:25px;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}
